/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* 
This allows us basically to start clean, 
without the brower adding any margins or paddings,
that we don't want to our elements 
*/

$color-gray-dark:#777;
$color-white: #fff;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-black: #000;