body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    /* 30px=>3rem */
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* This backface-visibility property determines
    if the back part of the element when we transform it
    is visible or hidden for the user. It fixes 'SHAKING' */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
    
        /* try ease-in too. look for mdn */
        animation-timing-function: ease-out;
        /* animation-iteration-count: 3;
        animation-delay: 3s; */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}